[MASTER]
init-hook='import sys; sys.path.append(".")'
ignore=env,__pycache__,.venv
load-plugins=pylint.extensions.mccabe

[MESSAGES CONTROL]
# Desactivamos errores comunes falsos positivos en juegos o proyectos gráficos
disable=
    import-error,
    no-member,
    too-few-public-methods

[REPORTS]
reports=no
score=yes

[DESIGN]
# Ajustes realistas para un juego con Pygame
max-args=5
max-statements=60
max-locals=20
max-returns=8
max-branches=15
max-nested-blocks=6
max-public-methods=25
max-attributes=12
min-public-methods=1

[FORMAT]
max-line-length=100

